section.section-video.well
  .container
    .video-iframe-wrapper
      .embed-responsive.embed-responsive-16by9
        iframe(src='https://www.youtube.com/embed/Ff7dEadrY18' frameborder='0' allowfullscreen).embed-responsive-item