section#why.section.jumbotron
  .container
    h2 Why use Beetbox?
    .row.text-center
      .col-xs-12.col-md-4
        img(src='images/logo-speed.svg' alt='Fast speed').img-respons.vertical-spacing
        h4 Fast speed
      .col-xs-12.col-md-4
        img(src='images/logo-composer.svg' alt='Use composer').img-respons.vertical-spacing
        h4 Use composer
      .col-xs-12.col-md-4
        img(src='images/logo-yaml.svg' alt='Simple config').img-respons.vertical-spacing
        h4 Simple config
