-var prod = true
doctype html
html(lang='en')
  head
    block title
      title Beetbox - a pre-provisioned L*MP stack
    include components/header/head
body
  include components/header/header

  block content
  include components/footer/scripts
  include components/footer/footer
